html , body {
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
}
html {
    min-height: 100vh;
}
.fa-connectdevelop {
    font-size: 40px;
}
.navbar-brand {
    display:flex;
    align-items: center;
}
.Pblue {
    color: #26ADE4 !important;
}
.Kcoral {
    color: coral;
}
.Pblue , .Kcoral {
    font-size: 22px;
    font-weight: 700;
}
.nav {
    transition: .3s;
}
.first {
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0;
    height: 60%;
    position: relative;
}
.twoo {
    background-image: url(../img/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0;
    height: auto;
    position: relative;
}
.dark-opacity {
    width:100%;
    height:100%;
    background-color: rgba(51, 51, 51, 0.753);
}
.header {
    display: flex;
    align-items: center;
    position: relative;
}
h3 {
    color: white;
    text-shadow: 1px 1px 10px black;
    text-align: center;
}
h3 span {
    font-size: 20px;
}
.font-h3 {
    font-size: 28px;
}
.fa-angle-down {
    font-size: 70px;
}
.arrow {
    margin:0 auto;
}
.arrow a {
    color: white;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: coral;
    border-color: coral;
    box-shadow: none;
    outline: none;
}
.btn-danger:hover,
.btn-danger:focus {
    background-color: #26ADE4 !important;
    border-color: #26ADE4 !important;
    box-shadow: none;
    outline: none;
}
.btn-danger {
    color: #fff;
    background-color: #26ADE4;
    border-color: #26ADE4;
}
.btn-primary {
    color: #fff;
    background-color: coral;
    border-color: coral;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: coral;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: coral;
}
.frontside .card .card-title,
.backside .card .card-title {
    color: coral;
}
.frontside .card .card-title2,
.backside .card .card-title2 {
    color: #26ADE4;
}
.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.dark-opacity h5 {
    padding-top: 2rem;
}
.fa-css3-alt , .fa-html5 , .fa-js-square , .fa-bold, .fa-php {
    font-size: 130px;
    text-align: center;
}
.fa-php {
    color: #99cc99;
}
.fa-css3-alt {
    color: #e54226;
}
.fa-html5 {
    color: #2163af;
}
.fa-bold {
    color: #563d7c;
}
.fa-js-square {
    color: #F0DB4F
}
.twoo .col-lg-2 ,.col-lg-12 {
    text-align:center;
    margin-top: 2rem;
}
.twoo p {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.custom-icon {
    margin: 0 auto;
}
.once {
    position: relative;
}
.first:after , .once:after , .twoo:after {
    content: '';
    height:50px;
    width:50px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -25px;
    transform: rotate(-45deg);
    margin-bottom: -25px;
    border-radius: 5px;
    z-index: 99;
}
.first:after, .twoo:after {
    background-color: coral;
}
.once:after {
    background-color: #26ADE4;
}
.three {
    background-image: url(../img/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0;
    height: auto;
    position: relative;
}
.divider-title{
    border:1px solid #dddddd;
}

.project {
    margin-bottom: 30px;
    vertical-align: top;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    width:100%;
}

.project figure {
    position: relative;
    display: inline-block;
    width: 283px;
    -moz-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
    -webkit-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
    box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
    -webkit-box-shadow: 0 3px 0 #e2e2e2;
    -moz-box-shadow: 0 3px 0 #e2e2e2;
    box-shadow: 0 3px 0 #e2e2e2;
}

.project figure figcaption {
    position: relative;
    z-index: 10;
    padding: 8px 18px 11px;
    background: #fff;
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: left;
    color: #555;
}

.project figure:hover .actions {
    opacity: 1;
}

.project figure .actions {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(29,29,29,.7);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.project figure img {
    border: 0;
    width: 100%;
}
.btn-warning bnt-action{
    margin: 0% 0% auto;
}

figcaption .project-details {
    display: block;
    font-size: 16px;
    line-height: 33px;
    color: #0093d0;
    height: 27px;
    width: 85%;
    margin-bottom: 5px;
    overflow: hidden;
}

figcaption .project-price {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 22px;
    text-align: right;
    margin-top: 8px;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
}

figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
}

.project figure .actions button {
    padding: 13px 20px;
    font-size: 16px;
    top: 32%;
    position: absolute;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    line-height: 18px;
    letter-spacing: 1px;
}
.three .col-12 {
    text-align:center;
}
footer {
    display:flex;
    align-items: center;
    height: 20%;
}
footer a {
    color: #333;
    transition: .3s;
}
footer a:hover {
    color: black;
}
input {
    padding: 2rem !important;
}
textarea {
    padding: 2rem !important;
    margin-bottom: 1rem !important;
}
#row-form {
    margin-bottom: 1rem;
}
form {
    margin: 0 auto;
}



@media (min-width: 1200px) {

}

@media (max-width: 992px) {


}



@media (min-width: 992px) {

}



@media (max-width: 768px) {
    .nav-link {
        text-align:center;
    }

}
@media (min-width: 768px) {
    nav {
        height: 100px;
    }
    .navbar-brand {
        opacity: .8;
        transition: .2s;
    }
    .navbar-brand:hover {
        opacity:1;
    }
    .nav-item a {
        position:relative;
    }
    .topBotomBordersOut a:before, .topBotomBordersOut a:after {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        content:"";
        opacity: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .topBotomBordersOut a:before {
        background: #26ADE4;
        top: 0px;
        transform: translateY(10px);
    }
    .topBotomBordersOut a:after {
        background: coral;
        bottom: 0px;
        transform: translateY(-10px);
    }
    .topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
        opacity: 1;
        transform: translateY(0px);
    }
}



@media (max-width: 576px) {


}
@media (max-width: 860px) {

}



@media (min-width: 576px) {

}
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;
    z-index: 9999999;
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}
#overlay {
    height: 100%;
    width:100%;
    background: white;
    position: fixed;
    left: 0;
    top:0;
    z-index: 99999;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
}